doctype html

<!--[if lt IE 7]> <html lang="zh" class="no-js lt-ie7 lt-ie8 lt-ie9" itemscope itemtype="http://schema.org/Product" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]> <html lang="zh" class="no-js lt-ie8 lt-ie9" itemscope itemtype="http://schema.org/Product" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]> <html lang="zh" class="no-js lt-ie9" itemscope itemtype="http://schema.org/Product" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="zh" class="no-js" itemscope itemtype="http://schema.org/Product" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
  
include ../includes/head
body(itemscope, itemtype="http://Schema.org/Article")
  block main
  include ../includes/foot

</html>