doctype html
html(lang="zh", itemscope, itemtype='http://schema.org/Product', class="no-js")
include ../includes/m-head
body(itemscope, itemtype='http://schema.org/Article')
  block main
  include ../includes/m-foot  
</html>